<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <h1 class="text-center">Dave Bot Alpha</h1>
  <p class="lead text-center">
    Weclome to Dave Bot Alpha presented by Dave Sports News Incorporated.  This tool has been created using data collected by a network of Sports Analysts across the world.  Our poineering algorithm will select the team most likely to score and concede on any given week.
  </p>
  <div class="col text-center">
    <a class="btn btn-lg btn-primary" href="/team-picker" role="button">Test out Team Picker</a>
  </div>

</div>
